---
import Layout from '../layouts/Layout.astro';

interface Props {
  title: string;
  description: string;
  pageType?: "website" | "article";
  image: string;
  imageAlt: string;
}

const head: Props = {
  title: "Sample Title",
  description: "Sample Description",
  pageType: "website",
  image: "/path/to/image.jpg",
  imageAlt: "Sample Image Alt Text"
};
---
<Layout {...head}>
  <h1 class="text-3xl font-bold mb-4 ">aaaa</h1>
  <button class="bg-blue-500 text-white font-bold py-2 px-4 rounded hover:bg-blue-700">aaa</button>
</Layout>