<div class="max-w-full px-6 pt-4 pb-25 m-0 
            md:pt-8 
            lg:px-8 lg:pt-10  
            xl:px-8 xl:pt-10 xl:pb-25 xl:w-7xl"
>
    <slot/>
</div>
<!-- 
<style lang="scss" scoped>
.container {
xl:px-10 xl:w-7xl lg:px-8 md:px-6
    width: 1280px;
    padding: 32px 40px 100px;
    margin: 0 auto;
  
    @include media-breakpoint-down(xl) {
      max-width: 100%;
      padding: 32px 40px 100px;
      margin: 0 0;
    }
  
    @include media-breakpoint-down(lg) {
      max-width: 100%;
      padding: 24px 32px 100px;
      margin: 0 0;
    }
  
    @include media-breakpoint-down(md) {
      max-width: 100%;
      padding: 24px 16px 100px;
      margin: 0 0;
    }
  
    // @include media-breakpoint-down(md) {
    //   max-width: 100%;
    //   padding: 20px 16px 48px;
    //   margin: 0 0;
    // }
  }
</style>
-->
