---
---
<header>
    <nav>
        <ul class="nav__menu">
            <li>
                <a class="nav__link" href="/news/">
                    ニュース
                </a>
            </li>
            <li>
                <a class="nav__link" href="/practice/" >
                    メニュー1
                </a>
            </li>
            <li>
                <a class="nav__link" href="/information/" >
                    案内
                </a>
            </li>
            <li>
                <a class="nav__link" href="/kikaku/" >
                    企画一覧
                </a>
            </li>
        </ul>
    </nav>
</header>
<style>
.nav__menu{
    display: flex;
    list-style-type: none;
    gap: 1.5rem;
    align-items: center;
    padding: 0;
    margin: 0 40px 0;
    text-decoration: none;
    width: 1280px;
}
header{
    position: sticky;
    display: flex;
    gap: 4rem;
    align-items: center;
    z-index: 100;
    background-color: #d9d9d9;
    padding: 0 40px;
    margin: 0 auto;
}
</style>